
<h4>Use another service to log in.</h4>
<hr />
<div>
    <p>


        <div id="fb-root"></div>
        <script src="@Url.Content("~/Scripts/FacebookLogin.js")" type="text/javascript"></script>
        <script type="text/javascript">
            initFacebook();
        </script>
        <div class="fb-login-button" onlogin="javascript: fbOnLogin();" data-scope="public_profile, user_location, user_birthday" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    </p>
</div>